<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
  <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="title" content="{{ block('title') }}" />
  <meta name="description" content="{{ 'app.meta.description'|trans }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/interface/default/main.css" >

</head>
<body>
<section id="introduction">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 295.226 169.541" id="lililillilil-logo">
          <g transform="translate(-210.394 -333.944)">
            <rect ry="1.477" rx="1.477" width="22.153" height="162.455" x="213.938" y="337.488"/>
            <rect ry="1.477" rx="1.477" y="337.488" x="262.334" height="162.455" width="22.153"/>
            <rect ry="1.477" rx="1.477" width="22.153" height="162.455" x="310.731" y="337.488"/>
            <rect ry="1.477" rx="1.477" y="337.488" x="359.127" height="162.455" width="22.153"/>
            <rect ry="1.477" rx="1.477" y="337.488" x="383.325" height="162.455" width="22.153"/>
            <rect ry="1.477" rx="1.477" width="22.153" height="162.455" x="431.722" y="337.488"/>
            <rect ry="1.477" rx="1.477" y="337.488" x="479.924" height="162.455" width="22.153"/>
            <rect ry="1.477" rx="1.477" y="433.483" x="238.136" height="66.459" width="22.153"/>
            <rect ry="1.477" rx="1.477" width="22.153" height="66.459" x="286.532" y="433.483"/>
            <rect ry="1.477" rx="1.477" y="433.483" x="334.929" height="66.459" width="22.153"/>
            <rect ry="1.477" rx="1.477" width="22.153" height="66.459" x="407.523" y="433.483"/>
            <rect ry="1.477" rx="1.477" y="433.483" x="455.743" height="66.459" width="22.153"/>
          </g>
        </svg>
      </div>
    </div>
    <div class="col">
      <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
        <h2>{{ 'app.h2'|trans }}</h2>
      </div>
    </div>
  </div>
</section>

<section id="van-gogh">
  <div class="container">
    <div class="row">
      <h3 class="col-sm-12">
        {{ 'vangogh.title'|trans }}
      </h3>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="video-wrapper-16x9">
          <iframe src="https://player.vimeo.com/video/185451012?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6">
          <p>{{ 'vangogh.content.p1'|trans }}</p>
          <p>{{ 'vangogh.content.p2'|trans }}</p>
      </div>
    </div>
  </div>
</section>


</body>
</html>
